# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv
.venv/
venv/
env/

# macOS
.DS_Store
._*

# IDE
.idea/
*.iml
.vscode/

# Jupyter
.ipynb_checkpoints/

# Project specific
checkpoints/
data/
logs/
runs/
*.out
*.err
*.log
Experiment/
logging/
tensor_log/
start_tensorboard.sh

# Virtual environment
venv/
Analysis/
Report/

# Plots and visualizations
Evaluations/
GHN_Models/
ckpts/
OLDExperiment/
OLDtensor_log/