# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv
.venv/
venv/
env/

# macOS
.DS_Store
._*

# IDE
.idea/
*.iml
.vscode/

# Jupyter
.ipynb_checkpoints/

# Project specific
checkpoints/
data/
logs/
runs/
*.out
*.err
*.log
Experiment/
logging/
start_tensorboard.sh

# Virtual environment
venv/
Analysis/
Report/

# Plots and visualizations
perplexity_plots/
